@model Salama.Models.Order

@{
    ViewBag.Title = "حذف الطلب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>حذف الطلب</h2>

<h3>هل انت متاكد انك تريد حذف هذا الطلب ؟</h3>
<div>
    <h4>تفاصيل الطلب</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            التاريخ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            رقم العداد
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Number)
        </dd>

        <dt>
            اسم العميل
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("العودة للطلبات", "Index")
        </div>
    }
</div>
