@model IEnumerable<Salama.Models.Type>

@{
    ViewBag.Title = "الشركات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>الشركات</h2>

<p>
    @Html.ActionLink("شركة جديدة", "Create")
</p>
<table class="table">
    <tr>
        <th>
            اسم الشركة
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.ID }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.ID }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
