@model IEnumerable<Salama.Models.User>

@{
    ViewBag.Title = "العملاء";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>العملاء</h2>

<p>
    @Html.ActionLink("اضافة عميل", "Create")
</p>
<table class="table">
    <tr>
        <th>
            اسم العميل
        </th>
        <th>
             الهاتف
        </th>
        <th>
            رقم السيارة
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car_Num)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.ID }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.ID }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
