@model IEnumerable<Salama.Models.Offer>

@{
    ViewBag.Title = "العروض";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>العروض</h2>

<p>
    @Html.ActionLink("عرض جديد", "Create")
</p>
<table class="table">
    <tr>
        <th>
            الاسم
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.ID }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.ID }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
